.pageable-table {
    margin-bottom: 20px!important;
}

.pagination-links li.disabled a, .pagination-links li.disabled span {
    cursor: not-allowed;
}

.pageable-table-stats {
    display: inline-block;
    padding-left: 0;
    color: #333;
    float: right;
}

.pageable-table-stats li {
    display: inline;
}

.pageable-table-stats li::before {
    content: ' | '
}

.pageable-table-stats li:first-child::before {
    content: '';
}
